<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			rel="stylesheet"
			href="./css/02-galery.css" />
	</head>
	<body>
		<ul class="gallery">
			<li class="image-gallery">
				<img
					src="/Users/leozolotukhin/Desktop/GoIt/goit-js-hw-07/img /0907ed8fd691000bbe73fee51101d8ee.jpeg"
					width="300"
					height="300"
					alt="" />
			</li>
			<li class="image-gallery">
				<img
					src="/Users/leozolotukhin/Desktop/GoIt/goit-js-hw-07/img /955549ff429e815e5e2bade820721376.jpeg"
					width="300"
					height="300"
					alt="" />
			</li>
			<li class="image-gallery">
				<img
					src="/Users/leozolotukhin/Desktop/GoIt/goit-js-hw-07/img /1998c160dc2be34a63b3f2183392ff8b.jpeg"
					width="300"
					height="300"
					alt="" />
			</li>

			<li class="image-gallery">
				<img
					src="/Users/leozolotukhin/Desktop/GoIt/goit-js-hw-07/img /1998c160dc2be34a63b3f2183392ff8b.jpeg"
					width="300"
					height="300"
					alt="" />
			</li>
			<li class="image-gallery">
				<img
					src="/Users/leozolotukhin/Desktop/GoIt/goit-js-hw-07/img /1998c160dc2be34a63b3f2183392ff8b.jpeg"
					width="300"
					height="300"
					alt="" />
			</li>
			<li class="image-gallery">
				<img
					src="/Users/leozolotukhin/Desktop/GoIt/goit-js-hw-07/img /1998c160dc2be34a63b3f2183392ff8b.jpeg"
					width="300"
					height="300"
					alt="" />
			</li>
		</ul>

		<script src=".js/02-galery.js"></script>
	</body>
</html>
