/** @format */

ul {
	list-style-type: none;
	margin: auto;
	gap: 40px;
}

.item {
	background-color: #f6f6fe;
	background-size: 400px 300px;
	font-family: "Protest Strike", sans-serif;
	font-size: 400;
}

.category-sign {
	padding-left: 8px;
	padding-top: 10px;
}
