/** @format */

div {
	display: flex;
	flex-direction: column;
	font-family: "Protest Strike", sans-serif;
}

input {
	width: 360px;
	height: 40px;
	border: 1px solid rgb(42, 40, 40, 0.6);
	border-radius: 5px;
}
